@using PracticalThirteen.Data.Models;
@model IEnumerable<EmployeeWithSalary>

@{
    ViewBag.Title = "Index";
}


<p class="my-4">

    <div class="Actions">
        <a asp-controller="Employees" asp-action="Create" class="btn btn-primary">Create New</a>
        <a asp-controller="Employees" asp-action="EmployeeWithDesignation" class="btn btn-primary">Get Employee with designation name</a>
        <a asp-controller="Employees" asp-action="EmployeesCountByDesignation" class="btn btn-primary">Get Empolyee count by designation</a>
    </div>
</p>
<table class="table text-center">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Designation.DesignationName)</th>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.MiddleName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.DOB)</th>
        <th>@Html.DisplayNameFor(model => model.MobileNumber)</th>
        <th>@Html.DisplayNameFor(model => model.Address)</th>
        <th>@Html.DisplayNameFor(model => model.Salary)</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>@Html.DisplayFor(modelItem => item.Designation.DesignationName)</td>
            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.MiddleName)</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.DOB)</td>
            <td>@Html.DisplayFor(modelItem => item.MobileNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Address)</td>
            <td>@Html.DisplayFor(modelItem => item.Salary)</td>
            <td>
                <a class="btn btn-sm viewEmployee" asp-controller="Employees" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a>
                <a class="btn btn-sm editEmployee" asp-controller="Employees" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-user-pen"></i></a>
                <a class="btn btn-sm deleteEmployee" asp-controller="Employees" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }

</table>
